$font-family: "Lato", sans-serif;

/* FONT WEIGHT */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

/*FONT SIZE*/
$h1-font-size: 42px;
$label-font-size: 24px;
$input-font-size: 18px;
$button-font-size: 24px;


/*DEFINITIONS*/
h1 {
    font-size: $h1-font-size;
    font-family: $font-family;
    font-weight: $font-weight-medium;
}

label {
    font-family: $font-family;
    font-weight: $font-weight-medium;
    font-size: $label-font-size;
}

input {
    font-family: $font-family;
    font-weight: $font-weight-medium;
    font-size: $input-font-size;
}

button {
    font-size: $button-font-size;
    font-weight: $font-weight-bold;
}