/*UTILITIES*/
/*BASE*/
/*SUPPORT*/
/* FONT WEIGHT */
/*FONT SIZE*/
/*DEFINITIONS*/
h1 {
  font-size: 42px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

label {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

input {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

button {
  font-size: 24px;
  font-weight: 700;
}

/* BORDER RADIUS */
/*DROP SHADOW*/
/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #696969;
}

.container {
  padding: 30px;
}

#login .container {
  background-color: #ffffff;
  width: 391px;
  padding: 30px;
  margin: 120px auto;
  border-radius: 7px;
}

#email-container {
  margin-bottom: 30px;
}

h1 {
  color: #598532;
}

h1::after {
  display: block;
  content: '';
  background-color: #598532;
  width: 100%;
  height: 4px;
  margin-bottom: 45px;
}

label {
  display: block;
  color: #4D4C4B;
  padding: 12px 12px;
}

input {
  display: block;
  width: 100%;
  padding: 12px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  border-radius: 7px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

input::active {
  background-color: #FFFFFF;
}

input:focus {
  outline: 1px solid #7cad50;
  box-shadow: 0px 0px 3px 0px #598532;
}

button {
  width: 100%;
  background-color: #bd7b31;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 15px 30px;
  border-radius: 7px;
  margin-top: 75px;
}

/*PAGE*/
